@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-baskerville: "Libre Baskerville", sans-serif;
  --font-raleway: "Raleway", monospace;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 71px;
}

@layer base {
  body {
    @apply font-raleway text-base text-color-3;
  }
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: 79px;
  }
}
